<legend>{{title}}</legend>
<div class="row">
  <div class="col-md-5">
    <form class="input-group" ng-submit="submit()" name="addForm" style="margin-bottom: 20px;">
      <span class="input-group-btn">
        <select class="form-control" ng-model="entity.field" style="width: 100px;">
          <option value="uid">{{'UID' | translate}}
          <option value="identity">{{'USERNAME' | translate}}
          <option value="name">{{'DISPLAYNAME' | translate}}
          <option value="email">{{'EMAIL' | translate}}
        </select>
      </span>
      <input class="form-control" type="text" ng-model="entity.data" required>
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-disabled="addForm.$invalid">
          {{'ADD_USER' | translate}}
        </button>
      </span>
    </form>
  </div>
</div>
<div class="row" ng-show="users.length">
  <div class="col-md-8">
    <table class="table">
      <tbody>
        <tr ng-repeat="user in users">
          <td>
            <a href="{{user.url}}" target="_blank">{{user.id}}</a>
          <td>
            <a href="{{user.url}}" target="_blank">{{user.name}}</a>
          <td>
            <button type="button" class="close" style="float: none;"
                    ng-click="removeAction($index)">
              &times;
            </button>
    </table>
    <pagination total-items="paginator.count" page="paginator.page" max-size="10"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                boundary-links="true" items-per-page="paginator.limit">
    </pagination>
  </div>
</div>
<div ng-show="!users.length" class="alert alert-info">
  {{'NONE_USER' | translate}}
</div>