<div class="row">
    <div ng-repeat="item in widgets" class="col-sm-6 col-md-3">
        <div class="card bg-light mb-3">
            <div class="card-header">
                {{item.block.title}}
            </div>
            <div class="card-body">
                <p class="widget-desc card-text">{{item.block.description}}</p>
                <ul class="list-inline">
                    <li class="list-inline-item card-link">
                        <a data-ng-if="item.editUrl" ng-href="{{item.editUrl}}">
                            {{'EDIT' | translate}}
                        </a>
                    </li>
                    <li class="list-inline-item card-link">
                        <a data-ng-if="item.editConfigUrl" ng-href="{{item.editConfigUrl}}" target="_blank">
                            {{'EDITCONFIG' | translate}}
                        </a>
                    </li>
                    <li class="list-inline-item card-link">
                        <a data-ng-if="item.deleteUrl" ng-href="{{item.deleteUrl}}">
                            {{'DELETE' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>