/* Base */
body {
  background: #f5f5f5;
}

/* Layout */
.pi-nav-container {
  margin-bottom: 20px;
}

.pi-main td {
  vertical-align: top;
  padding: 0;
}

.pi-main .pi-zone-1 {
  padding-right: 20px;
}

/* Not used yet */
/*
.pi-main .next-zone {
  padding-right: 10px;
  width: 50%;
}

.pi-main .pre-zone {
  padding-left: 10px;
  width: 50%;
}
*/

.pi-main .pi-zone-8 {
  padding-left: 20px;
}

.pi-main table {
  width: 100%;
}


/* Header */
.pi-header {
  margin: 20px auto;
}

/* Logo: image, headline, tagline */
.pi-logo {
    float: left;
    font-family: sans-serif, Arial;
}
.pi-logo img {}
.pi-logo a {
    text-decoration: none;
}
.pi-logo a:hover {
    color: #0088CC;
}

.pi-logo-symbol {
    font-size: 64px;
    line-height: 0;
    text-transform: lowercase;
    display: none;
}

.pi-logo-headline {
    font: bold 40px Georgia, monospace, Arial;
}

.pi-logo-tagline {
    color: #0088CC;
    font-style: normal;
    font-size: .9em;
    display: block;
}

/* User bar */
.pi-user-bar {
  margin: 5px 10px 0 5px;
  height: 20px;
  line-height: 20px;
  font-size: .9em;
}

.pi-user-bar {
  color: #666;
}

.pi-user-bar a {
  color: #666;
}

.pi-user-bar a:hover {
  color: #005580;
}

.pi-user-bar .dropdown {
  display: inline-block;
  margin-right: 15px;
}

.pi-user-bar .caret {
  border-top-color: #666;
}

/* Navigation */
.pi-menu {
  font-family: Helvetica, sans-serif;
  border: 1px solid #006ca3;
  background-color: #0293da;
  background-image: -moz-linear-gradient(top, #04a0df, #0180d1);
  background-image: -webkit-linear-gradient(top, #04a0df, #0180d1);
  background-image: -o-linear-gradient(top, #04a0df, #0180d1);
  background-image: linear-gradient(to bottom, #04a0df, #0180d1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  height: 40px;
  border-radius: 4px;
  margin-bottom: 0;
}

.pi-menu li {
  float: left;
  position: relative;
}

.pi-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.pi-menu ul a {
  padding: 5px 0 5px 20px;
}

.pi-menu li:hover >a {
  background: #0076b1;
}

.pi-menu ul li:hover >a {
  background: #0292da;
  border-radius: 3px;
}

.pi-menu >.active >a {
  background-color: #0076b1;
  box-shadow: inset 0 3px 8px #005986;
}

.pi-menu ul {
  position: absolute;
  width: 180px;
  z-index: 2;
  background: #0076b1;
  left: 0;
  margin: 0;
  list-style: none;
  display: none;
  border-radius: 3px;
}

.pi-menu ul ul {
  left: 179px;
  top: -1px;
}

.pi-menu li li {
  float: none;
}

.pi-menu a {
  color: #fff;
}

.pi-menu li:hover >ul {
  display: block;
}

.pi-breadcrumb {
  margin-bottom: 0;
  padding: 10px 0;
}

/* Block zones */
.pi-zone-0 .pi-block-header {
  display: none;
}

.pi-zone-0 .pi-block-body {
  padding: 0;
}

/*
.pi-zone-0 .carousel {
  margin-bottom: 0;
}
*/

.pi-zone-1 {
  width: 220px;
}

.pi-zone-2 {
}

.pi-zone-3 {
}

.pi-zone-4 {
}

.pi-zone-5 {
}

.pi-zone-6 {
}

.pi-zone-7 {
}

.pi-zone-8 {
  width: 220px;
}

.pi-zone-module {
  margin: 0 20px;
}

/* Block */
.pi-block {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 1px 3px #bababa;
  border: 1px solid #cecece \9;
  border-radius: 3px;
}

.pi-block-header {
  margin: 0 20px;
  border-bottom: 1px dashed #e5e5e5;
}

.pi-block-body {
  padding: 20px;
}

.pi-block-body >:last-child {
  margin-bottom: 0;
}

.pi-block-body h4 {
  margin-top: 0;
}

/* Footer */
.pi-footer {
  text-align: center;
  margin-top: 40px;
  line-height: 24px;
  font-size: 12px;
}

.pi-footer-line {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.pi-footer a,
.pi-footer .pi-divider {
  color: #333;
}

.pi-footer a:hover {
  color: #0088CC;
}

/* System module custom */
/*
.system-login-form .control-group {
  margin-bottom: 15px;
}

.system-login-form .checkbox {
  margin-bottom: 12px;
}

.system-login-form [class^="icon-"] {
  color: #8d8d8d;
}
*/