/* Menu */
.menu .divider {
    background-color: #E5E5E5;
    /*
    border-bottom-color: #FFFFFF;
    */
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height: 1px;
    margin: 0px 1px;
    overflow: hidden;
}

/* Horizontal menu */
ul.menu-horizontal {
    height: 34px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    margin-left: 0;
}
.menu-horizontal li {
    float: left;
    position: relative;
    line-height: 34px;
}
.menu-horizontal li:first-child span,
.menu-horizontal li:first-child a {
    border-left: none;
}
.menu-horizontal li:last-child span,
.menu-horizontal li:last-child a {
    border-right: none;
}
.menu-horizontal a,
.menu-horizontal span {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 15px;
    border-right: 1px solid #134578;
    border-left: 1px solid #1f75ba;
}
.menu-horizontal li:hover > a,
.menu-horizontal li:hover > span {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#175496,endColorstr=#1d6bad);
    background-image: -moz-linear-gradient(top,#175496,#1d6bad);
    background-image: -webkit-linear-gradient(top,#175496,#1d6bad);
    background-image: -o-linear-gradient(top,#175496,#1d6bad);
}
.menu-horizontal > .active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#278dd6,endColorstr=#1b5fc2);
    background-image: -moz-linear-gradient(top,#278dd6,#1b5fc2);
    background-image: -webkit-linear-gradient(top,#278dd6,#1b5fc2);
    background-image: -o-linear-gradient(top,#278dd6,#1b5fc2);
}
.menu-horizontal li:hover li a {
    background: none;
}
.menu-horizontal ul li a:hover {
    background: #144a80;
    text-shadow: 0 1px 1px rgba(0,0,0, .1);
}
.menu-horizontal li:hover > ul {
    display: block;
}
.menu-horizontal ul {
    display: none;
    width: 185px;
    position: absolute;
    top: 34px;
    left: 0;
    background: #195d9f;
    font-size: 13px;
    margin: 0;
    z-index: 10;
}
.menu-horizontal ul li {
    float: none;
    margin: 0;
    padding: 0;
    height: 24px;
    line-height: 24px;
    border-top: 1px solid #268ccf;
    border-bottom: 1px solid #103c67;
    *margin-top: -3px;
}
.menu-horizontal ul a {
    font-weight: normal;
    border: none;
}
.menu-horizontal ul ul {
    left: 184px;
    top: -1px;
}
.menu-horizontal:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.menu-horizontal {
    display: block;
    white-space: nowrap;
    *zoom: 1;
}

/* Vertical menu */
ul.menu-vertical {
    padding-bottom: 100px;
    background: #F2F2F2;
    margin: 0;
}
.menu-vertical li {
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    padding-left: 12px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.menu-vertical .active {
    background: #fff;
    margin-right: -1px;
}
.menu-vertical a:hover {
    text-decoration: none;
}