/* Base */

/* Layout */
.pi-main-left {
    margin-left: 320px;
}

.pi-main-right {
    margin-right: 320px;
}

.pi-zone-1 {
    float: left;
    width: 300px;
}

.pi-zone-8 {
    float: right;
    width: 300px;
}

.pi-zone-1 {
    float: left;
    width: 300px;
}

.pi-zone-3,
.pi-zone-5 {
    width: 50%;
    float: left;
}

.pi-zone-4,
.pi-zone-6 {
    float: right;
    width: 50%;
}

.pi-zone-3 .pi-block,
.pi-zone-5 .pi-block {
    margin-right: 10px;
}

.pi-zone-4 .pi-block,
.pi-zone-6 .pi-block {
    margin-left: 10px;
}

.pi-module-content,
.pi-zone-99 {
    clear: both;
}

/* Header */
.pi-header {
    margin: 20px auto;
}

/* Logo: image, headline, tagline */
.pi-logo {
    float: left;
    font-family: sans-serif, Arial;
}

/*
.pi-logo img {
  
}
*/

.pi-logo a {
    text-decoration: none;
}

.pi-logo a:hover {
    color: #0088CC;
}

.pi-logo-symbol {
    font-size: 64px;
    line-height: 0;
    text-transform: lowercase;
    display: none;
}

.pi-logo-headline {
    font: bold 40px Georgia, monospace, Arial;
    margin: 0;
}

.pi-logo-tagline {
    color: #0088CC;
    font-style: normal;
    font-size: .9em;
    display: block;
}

/* User bar */
.pi-user-bar {
    margin: 5px 10px 0 5px;
    height: 20px;
    line-height: 20px;
    font-size: .9em;
}

.pi-user-bar {
    color: #666;
}

.pi-user-bar a {
    color: #666;
}

.pi-user-bar a:hover {
    color: #005580;
}

.pi-user-bar .dropdown {
    display: inline-block;
    margin-right: 15px;
}

.pi-user-bar .caret {
    border-top-color: #666;
}

/* Navigation */
.pi-menu {
    font-family: Helvetica, sans-serif;
    border: 1px solid #006ca3;
    background-color: #0293da;
    background-image: -moz-linear-gradient(top, #04a0df, #0180d1);
    background-image: -webkit-linear-gradient(top, #04a0df, #0180d1);
    background-image: -o-linear-gradient(top, #04a0df, #0180d1);
    background-image: linear-gradient(to bottom, #04a0df, #0180d1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    height: 40px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.pi-menu li {
    float: left;
    position: relative;
}

.pi-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.pi-menu ul a {
    padding: 5px 0 5px 20px;
}

.pi-menu li:hover >a {
    background: #0076b1;
}

.pi-menu ul li:hover >a {
    background: #0292da;
    border-radius: 3px;
}

.pi-menu >.active >a {
    background-color: #0076b1;
    box-shadow: inset 0 3px 8px #005986;
}

.pi-menu ul {
    position: absolute;
    width: 180px;
    z-index: 2;
    background: #0076b1;
    left: 0;
    margin: 0;
    list-style: none;
    display: none;
    border-radius: 3px;
}

.pi-menu ul ul {
    left: 179px;
    top: -1px;
}

.pi-menu li li {
    float: none;
}

.pi-menu a {
    color: #fff;
}

.pi-menu li:hover >ul {
    display: block;
}

.pi-breadcrumb {
    margin-bottom: 0;
    padding: 10px 0;
}

/* Block zones */
.pi-zone-0 .pi-block-header {
    display: none;
}

.pi-zone-0 .pi-block-body {
    padding: 0;
}

/* Block */
.pi-block {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

.pi-block-header {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    height: 40px;
    padding-right: 10px;
    background-color: #f6f6f6;
    background-image: -moz-linear-gradient(top, #fafafa, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #fafafa, #f2f2f2);
    background-image: -o-linear-gradient(top, #fafafa, #f2f2f2);
    background-image: linear-gradient(to bottom, #fafafa, #f2f2f2);
}

.pi-block-title {
    float: left;
    margin-left: 20px;
}

.pi-block-subline {
    margin: 10px 0 0 0;
}

.pi-block-body {
    padding: 20px;
}

.pi-block-tab {
    margin: 0;
}

.pi-block-tab li {
    float: left;
    list-style: none;
}

.pi-block-tab a {
    padding: 0 15px;
    display: block;
    height: 41px;
    line-height: 40px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-decoration: none;
    color: #999;
}

.pi-block-tab a:focus {
    outline: none;
}

.pi-block-tab li:first-child a {
    border-left: none;
}

.pull-right.pi-block-tab li:first-child a {
    border-left: 1px solid transparent;
}

.pi-block-tab .active a {
    background: #fff;
    border-left-color: #ddd !important;
    border-right-color: #ddd !important;
    color: #333;
    font-weight: bold;
}

.pi-block-body >:last-child {
    margin-bottom: 0;
}

/* Footer */
.pi-footer {
    text-align: center;
    margin-top: 40px;
    line-height: 24px;
    font-size: 12px;
}

.pi-footer-line {
    height: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.pi-footer a,
.pi-footer .pi-divider {
    color: #333;
}

.pi-footer a:hover {
    color: #0088CC;
}

/* Component */
.pi-divider {
    font-family: serif,sans-serif;
    margin: 0 6px;
    color: #ccc;
}

.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* System module custom */
.system-login-form .control-group {
    margin-bottom: 15px;
}

.system-login-form .checkbox {
    margin-bottom: 12px;
}

.system-login-form [class^="icon-"] {
    color: #8d8d8d;
}