<?php
/**
 * Pi Engine (http://piengine.org)
 *
 * @link            http://code.piengine.org for the Pi Engine source repository
 * @copyright       Copyright (c) Pi Engine http://piengine.org
 * @license         http://piengine.org/license.txt BSD 3-Clause License
 */

/**
 * Custom user register form specs
 */

return array(
    'verify' => [
        'element' => [
            'name'       => 'verify',
            'options'    => [
                'label' => __('Verify code'),
            ],
            'attributes' => [
                'type'        => 'number',
                'description' => __('Please put your received code here'),
                'required'    => true,
            ],
        ],
    ],
);
