<?php
/**
 * Pi Engine (http://pialog.org)
 *
 * @link            http://code.pialog.org for the Pi Engine source repository
 * @copyright       Copyright (c) Pi Engine http://pialog.org
 * @license         http://pialog.org/license.txt BSD 3-Clause License
 */

return array(
    // Module meta
    'meta'  => array(
        // Build metadata, optional
        'build'         => '20140202',
    ),
    // Custom resource
    'resource' => array(
        'user'      => 'user.php',
    ),
);
