<?php
/**
 * Pi Engine (http://pialog.org)
 *
 * @link            http://code.pialog.org for the Pi Engine source repository
 * @copyright       Copyright (c) Pi Engine http://pialog.org
 * @license         http://pialog.org/license.txt New BSD License
 */

/**
 * User profile and resource specs
 *
 * @see Pi\Application\Installer\Resource\User
 * @author Taiwen Jiang <taiwenjiang@tsinghua.org.cn>
 */
$customConfig = array(
    // Fields
    'field'     => array(

        // Profile fields

        // Profile: first_name
        'first_name'  => array(
            'name'  => 'first_name',
            'title' => _a('First Name'),
        ),

        // Profile: last_name
        'last_name'  => array(
            'name'  => 'last_name',
            'title' => _a('Last Name'),
        ),

        // Account: mobile phone number
        'mobile'      => array(
            'name'      => 'mobile',
            'title'     => _a('Mobile phone number'),
            // Edit element specs
            'edit'      => array(
                'validators'    => array(
                    array(
                        'name'      => 'Module\User\Validator\Telephone',
                    ),
                ),
            ),
        ),

        // Profile: Language
        'language'  => array(
            'name'  => 'language',
            'title' => __('Language'),
            'edit'  => 'locale',
        ),

        // Profile: phone
        'phone'  => array(
            'name'  => 'phone',
            'title' => __('Phone'),
            'is_display'    => false,
            'is_edit'       => false,
        ),


        // Compound fields

        // Compound: Education experiences
        'education'  => array(
            'name'  => 'education',
            'title' => __('Education'),

            // Custom handler
            'handler'   => 'Custom\User\Field\Education',

            // Fields
            'field' => array(
                'school'    => array(
                    'title' => __('School name'),
                    'edit' => array(
                        'required' => true,
                    ),
                ),
                'department'    => array(
                    'title' => __('Department'),
                    'edit' => array(
                        'required' => true,
                    ),
                ),
                'major'    => array(
                    'title' => __('Major'),
                    'edit' => array(
                        'required' => true,
                    ),
                ),
                'degree'    => array(
                    'title' => __('Degree'),
                    'edit' => array(
                        'required' => true,
                    ),
                ),
                'start'    => array(
                    'title' => __('Start time'),
                    'edit'  => 'Custom\User\Form\Element\StartTime',
                ),
                'end'    => array(
                    'title' => __('End time'),
                    'edit'  => 'Custom\User\Form\Element\EndTime',
                ),
                'description'   => array(
                    'title' => __('Description'),
                    'edit'  => array(
                        'element' => 'textarea',
                        'attributes' => array(
                            'rows'    => 4,
                            'class'   => 'input-block-level',
                        ),
                    ),
                ),
            ),
        ),

        // Compound: Profession experiences
        'work'      => array(
            'name'  => 'work',
            'title' => __('Work'),
            'is_required' => true,
            // Custom handler
            'handler'   => 'Custom\User\Field\Work',

            // Fields
            'field' => array(
                'company'    => array(
                    'title' => __('Company name'),
                    'edit' => array(
                        'required' => true,
                    ),
                ),
                'department'    => array(
                    'title' => __('Work Department'),
                    'edit' => array(
                        'required' => true,
                    ),
                ),
                'industry'    => array(
                    'title' => __('Industry'),
                    'edit' => array(
                        'element'  => 'Custom\User\Form\Element\Industry',
                        'required' => true,
                    ),
                ),
                'sector'    => array(
                    'title' => __('Sector'),
                    'edit'  => 'hidden',
                ),
                'position'    => array(
                    'title' => __('Job Position'),
                    'edit'  => array(
                        'element'    => 'select',
                        'attributes' => array(
                            'options' => array(
                                ''                  => __('Select'),
                                __('R&D')           => __('R&D'),
                                __('Management')    => __('Management'),
                                __('Measurement')   => __('Measurement'),
                                __('QA')            => __('QA'),
                                __('Market')        => __('Market'),
                                __('Student')       => __('Student'),
                            ),
                        ),
                    ),
                ),
                'title'    => array(
                    'title' => __('Job title'),
                    'edit' => array(
                        'required' => true,
                    ),
                ),
                'description'   => array(
                    'title' => __('Description'),
                    'edit'  => array(
                        'element' => 'textarea',
                        'attributes' => array(
                            'rows'    => 4,
                            'class'   => 'input-block-level',
                        ),
                    ),
                ),
                'start'    => array(
                    'title' => __('Start time'),
                    'edit'  => 'Custom\User\Form\Element\StartTime',
                ),
                'end'    => array(
                    'title' => __('End time'),
                    'edit'  => 'Custom\User\Form\Element\EndTime',
                ),
            ),
        ),
    ),
);


$config = include Pi::path('module/user/config/user.php');
foreach ($customConfig as $key => $cfg) {
    $config[$key] = array_merge($config[$key], $cfg);
}

return $config;