.widget-desc {
	height: 40px;
	overflow: hidden;
}

.widget-media-upload .close {
	position: absolute;
	right: 8px;
	top: -15px;
	font-size: 30px;
}

.widget-media-upload img,
.widget-upload-image img {
	display: block;
	width: 100%;
	height: 100px;
}

@media (max-width: 767px) {
  .widget-desc {
    height: auto;
  }
}

/*base*/

.ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

/*media*/
.widget-media-upload,
.widget-upload-btn,
.widget-module-item li {
    display: inline-block;
    vertical-align: top;
}

.widget-upload-btn {
    height: 120px;
    border: 2px dashed #ccc;
    width: 180px;
    margin-bottom: 10px;
    cursor: pointer;
}

.widget-upload-btn .icon-plus {
    font-size: 56px;
    color: #999;
}

.upload-media-add {
    text-align: center;
    margin-top: 35px;
}

.fileinput-button {
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.fileinput-button input {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 0;
    filter: alpha(opacity=0);
}

.widget-media-upload {
    border: 2px solid #ccc;
    padding: 2px;
    background: #fff;
    margin: 0 10px 10px 0;
    width: 240px;
    position: relative;
}

.widget-media-upload .form-horizontal .control-label,
.widget-tab-item.form-horizontal .control-label {
    width: 50px;
    font-size: 12px;
}

.widget-media-upload .form-horizontal .controls,
.widget-tab-item.form-horizontal .controls {
    margin-left: 55px;
}

.widget-media-upload .form-horizontal .control-group,
.widget-tab-item.form-horizontal .control-group {
    margin-bottom: 8px;
}

.widget-media-upload img {
    display: block;
    height: 180px;
    margin: 0 auto 5px;
    cursor: move;
}

.widget-media-upload .icon-remove-sign {
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: -8px;
    top: -8px;
}

/*admin widget tab*/
.widget-tab-box {
    position: relative;
}

.widget-tab-form {
    width: 400px;
    border: 1px solid #ccc;
    min-height: 250px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.widget-tab-item {
    padding: 5px 10px 0;
    margin: 0 20px 10px;
    line-height: 18px;
    border-radius: 3px;
    background: #ECECEC;
    cursor: move;
}

.widget-tab-item .icon-remove-sign {
    float: right;
}

.widget-tab-item .btn {
    padding: 0 9px;
    height: 18px;
}

.widget-tab-module {
    position: absolute;
    width: 420px;
    background: #ECECEC;
    border: 1px solid #ccc;
    top: 0;
    left: 410px;
    padding-top: 10px;
}

.widget-module-item {
    margin-bottom: 4px;
}

.widget-module-item .icon-caret-down {
    display: none;
}

.active .icon-caret-down {
    display: inline-block;
}

.active .icon-caret-right {
    display: none;
}

.widget-module-item li {
    margin: 0 5px 5px 0;
    cursor: pointer;
    background: #F3F3F3;
    padding: 1px 3px;
    border: 1px solid #D9D9D9;
}

.widget-module-item ul {
    display: none;
}

.widget-module-item.active ul {
    display: block;
}

.widget-module-item .selected {
    background: #858585;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

/*widget-lsit*/
.widget-list {
    min-height: 30px;
    margin-left: 0;
}

.widget-list li {
    display: inline-block;
    width: 260px;
    margin: 0 10px 10px 0;
    vertical-align: top;
}
