/* Home page */
.user-media {
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.user-media .pull-left {
	margin: 2px 30px 0 0;
}
.user-media-name {
	margin-right: 5px;
}

/* Profile */
.user-avatar-media {
	margin-bottom: 20px;
}
.user-legend-title {
	float: left;
	margin: 0 10px 0;
}
.user-legend-edit {
	float: right;
}
.user-legend-linea {
	overflow: hidden;
	height: 0;
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
}
.user-field-dl {
	border-top: 1px dashed #ccc;
	padding-top: 20px;
	margin: 20px 0 30px;
}
.user-field-dl:first-child {
	border-top: none;
	padding-top: 0;
}
.user-field-dl dt {
	color: #999;
	font-weight: normal;
	line-height: 24px;
}
.user-field-dl dd {
	line-height: 24px;
}
/* Edit */
.user-info-item {
	margin-bottom: 20px;
}
.user-info-header {
	background: #f5f5f5;
	cursor: move;
	border: 1px solid #e5e5e5;
	text-align: right;
}
.user-info-item form,
.user-info-item-edit .user-info-show {
	display: none;
}
.user-info-item-edit form {
	display: block;
}
/* user module custom */
#pi-user .nav-tabs {
	margin-bottom: 30px;
}