.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Icon */
.activity-icon {
    padding: 1px 0 1px 22px;
    background: url(activity-icon.png) no-repeat 20px 3px;
}

.activity-icon-cndzzbbs {
    padding: 3px 0 3px 25px;
    background-position: 0 -120px;
}

.activity-icon-circuit {
    padding: 3px 0 3px 26px;
    background-position: 0 -480px;
}

.activity-icon-blog {
    padding: 3px 0 3px 25px;
    background-position: 0 -89px;
}

.activity-icon-rel {
    padding: 3px 0 3px 25px;
    background-position: 0 -151px;
}

/* Tab */
.activity-tab {
    position: relative;
    overflow: hidden;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #E6E6E6;
}

.activity-tab li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    padding: 10px 0;
}

.activity-tab li.active {
    background: url(activity-tab-active-bg.png) no-repeat center bottom;
    font-weight: bold;
}

.activity-tab a {
    color: #4c4c4c;
    font-size: 14px;
    display: block;
    border-left: 1px solid #E6E6E6;
    padding: 0px 18px;
}

.activity-tab li:first-child a {
    border-left: none;
}

.activity-tab a:hover {
    color: #4c4c4c;
    text-decoration: none;
}

/* Panel */
.activity-panel {
    margin-bottom: 20px;
    border: 1px solid #E6E6E6;
}

.activity-panel-header {
    padding: 10px;
    background: #F6F9F9;
    line-height: 20px;
}

.activity-panel-header span {
     font-size: 14px;
}

.activity-panel-body {
    margin: 0;
    padding: 10px 0;
    color: #808080;
}

.activity-panel-body li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    border-left: 1px solid #E6E6E6;
    _border-left-width: expression(this.previousSibling==null ? '0':'1px');
    width: 72px;
    text-align: center;
}

.activity-panel-body-blog li {
    width: 108px;
}

.activity-panel-body li:first-child {
    border-left: none;
}

.activity-panel-body a {
    display: block;
    color: #808080;
}

.activity-panel-body a:hover {
    text-decoration: none;
}

/* Community */
.activity-community-item {
    margin-bottom: 20px;
    border: 1px solid #E6E6E6;
    padding: 5px 10px;
    height: 20px;
    background: #F6F9F9;
    color: #808080;
}
