body {
    min-width: 900px;
}
.container {
    width: 100%;
}
.global-nav .menu {
    padding-left: 10px;
}
.page-header {
    font-size: 26px;
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    line-height: 28px;
    height: 28px;
}
/* Box with border */
.box-bordered {
    border: 1px solid #E1E4E5;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.box-bordered-header {
    font-size: 16px;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #e8eef5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f9fb,endColorstr=#e8eef5);
    background-image: -moz-linear-gradient(top,#f6f9fb,#e8eef5);
    background-image: -webkit-linear-gradient(top,#f6f9fb,#e8eef5);
    background-image: -o-linear-gradient(top,#f6f9fb,#e8eef5);
    padding: 5px 10px;
}
.box-bordered-body {
    padding: 10px;
}
.pi-zone-module {
   margin: 0 20px;
}
.dl-horizontal dt {
	width: 120px;
}
.dl-horizontal dd {
	margin-left: 140px;
}

/*admin common*/
