/* Base */
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    background: #f1f1f1;
}

/* Layout */
#pi-header-bar {
    background: #0082bf;
    height: 54px;
    border-bottom: 1px solid #79a3b9;
    font-size: 12px;
}

.pi-admin-logo {
    display: block;
    float: left;
    font-size: 45px;
    font-weight: bold;
    margin: 10px 0 0 20px;
    width: 120px;
    color: #fff;
    line-height: 34px;
    height: 34px;
}

.pi-admin-logo:hover {
    text-decoration: none;
    color: #fff;
}

.pi-operation-switch {
    float: left;
}

.pi-operation-switch a {
    display: block;
    text-align: center;
    color: #fff;
    float: left;
    height: 34px;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.pi-operation-switch a:hover {
    background: #4DB1E3;
}

.pi-operation-switch .active {
    background: #005580 !important;
    cursor: default;
}

.pi-operation-switch a.disabled {
    cursor: default;
    color: #4da8d2;
    background: none;
}

.pi-operation-switch a:hover {
    text-decoration: none;
}

.pi-operation-switch i {
    display: block;
    font-size: 20px;
    margin-bottom: 1px;
}

/* User bar */
.pi-user-bar .dropdown-menu {
    z-index: 1002;
}

.pi-user-bar {
    float: right;
    margin: 17px 30px 0 0;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.pi-user-bar a {
    color: #fff;
}

.pi-user-bar .dropdown {
    display: inline-block;
    margin-right: 15px;
}

.pi-user-bar .caret {
    border-top-color: #fff;
}

.pi-user-bar i {
    margin-right: 1px;
}

.pi-nav-modules a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #333;
    padding-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pi-nav-modules a:hover {
    background: #E7E7E7;
    text-decoration: none;
}

.pi-nav-modules .active a {
    background: #ccc;
    font-weight: bold;
}

.pi-module-menu {
    white-space: nowrap;
    border-bottom: 1px solid #d7d7d7;
    padding: 10px 0 10px 20px;
    position: relative;
    z-index: 1001;
    background: #fff;
}

.pi-module-menu li {
    float: left;
}

.pi-module-menu a {
    display: block;
    padding: 6px 15px;
    margin-left: -1px;
    color: #444;
    border: 1px solid #DCDCDC;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    background-image: -webkit-linear-gradient(center top , #F5F5F5, #F1F1F1);
    background-image: linear-gradient(center top , #F5F5F5, #F1F1F1);
}

.pi-module-menu a:hover {
    background: #f8f8f8;
    text-decoration: none;
    border-color: #ccc;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
}

.pi-module-menu .active a {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    border-color: #ccc;
    color: #333;
    background: #eee;
    background-image: -moz-linear-gradient(center top , #EEEEEE, #E0E0E0);
    background-image: -webkit-linear-gradient(center top , #EEEEEE, #E0E0E0);
    background-image: linear-gradient(center top , #EEEEEE, #E0E0E0);
}

.pi-module-menu li:first-child a {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pi-module-menu li:last-child a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pi-module-menu-shadow {
    position: absolute;
    height: 8px;
    opacity: 0;
    left: 2px;
    right: 2px;
    bottom: -8px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .3), transparent);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .3), transparent);
    background: linear-gradient(top, rgba(0, 0, 0, .3), transparent);
}

#pi-wrapper {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
}

#pi-modules-menu {
    position: relative;
    width: 140px;
    overflow: auto;
    background: #f1f1f1;
    height: 100%;
}

#pi-content {
    position: absolute;
    left: 140px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.pi-content-inner {
    position: absolute;
    padding-top: 64px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.pi-main-content {
    min-width: 840px;
    min-height: 635px;
    margin: 0 20px;
}

/* Footer */
.pi-footer {
    border-top: 1px solid #d7d7d7;
    padding: 10px 0 0 20px;
    margin-top: 40px;
}

.pi-footer a {
    margin-right: 20px;
}

/* boostrap custom */
.table .text-center {
    text-align: center;
}
.pagination a {
    cursor: pointer;
}
.pi-status {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    background: #e6e6e6;
    background: #ccc \9;
    outline: 0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), inset 0 -1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), inset 0 -1px 3px rgba(0, 0, 0, .1);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .15), inset 0 -1px 3px rgba(0, 0, 0, .1);
    padding: 1px 0;
    width: 50px;
    height: 18px;
    cursor: pointer;
}

.pi-status-director {
    background: #fff;
    height: 18px;
    width: 50%;
    position: absolute;
    left: 0;
    border-radius: 4px;
    border: 1px solid #cecece;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.pi-status.active {
    background: #4db60e;
    border-color: #399303;
}

.pi-status.active .pi-status-director {
    left: 50%;
}

.pi-status.disabled {
    cursor: default;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.pi-icon-cursor {
    cursor: pointer;
    color: #999;
}

.pi-icon-cursor:hover {
    color: #666;
}

.pi-row-action {
    visibility: hidden;
}

.pi-row-action a {
    padding-right: 5px;
    font-size: 12px;
}

tr:hover .pi-row-action {
    visibility: visible;
}

.pi-hover-input input {
    display: none;
    margin-bottom: 0;
}

.pi-hover-input {
    margin-left: -7px;
}

.pi-hover-input span {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    border: 1px solid transparent;
    padding: 0 15px 0 7px;
    cursor: pointer;
}

.pi-hover-input:hover span {
   border: 1px solid #ccc;
}

.pi-hover-input-editing input {
    display: inline-block;
}

.pi-hover-input-editing span {
    display: none;
}

.pi-widget-item {
    background-color: #F1F1F1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9,endColorstr=#ECECEC);
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
    background-image: -webkit-linear-gradient(top , #F9F9F9, #ECECEC);
    background-image: -o-linear-gradient(top , #F9F9F9, #ECECEC);
    padding: 4px 8px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    border: 1px solid #DFDFDF;
    cursor: move;
    margin-bottom: 10px;
}

.pi-user-select-disabled {
    user-select: none;
    -webkit-select: none;
    -o-select: none;
}