@import url('style.css');

/* Base */
html {
  min-height: 100%;
  position: relative;
}

.pi-main-container {
  padding-bottom: 80px;
}

/* Bootstrap custom */
.nav-tabs {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .navbar-default .navbar-form {
    width: 250px;
  }
}

/* Navbar custom */
.navbar-inverse {
  margin-bottom: 0;
  min-height: 30px;
  border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 10px;
}

.navbar-inverse .navbar-brand {
  padding: 5px 15px;
}

.navbar-inverse .navbar-right {
  float: right;
  margin: 0 -10px 0 !important;
}

.navbar-inverse .navbar-nav > li {
  float: left;
}

.navbar-inverse .navbar-brand {
  height: auto;
}

.pi-navbar-nav ul {
  display: none;
}

@media (min-width: 768px) {
  .pi-navbar-nav li {
    position: relative;
  }

  .pi-navbar-caret {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: -1px;
    margin-left: -8px;
    border-bottom: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    z-index: 1002;
  }

  .pi-navbar-caret-outer {
    border-bottom: 8px solid #c2c2c2;
    bottom: 0;
    z-index: 1001;
  }

  .pi-navbar-nav li:hover >ul,
  .pi-navbar-nav li:hover .pi-navbar-caret {
    display: block;
  }

  .pi-navbar-nav ul .dropdown-menu {
    left: 100%;
    top: -5px;
  }
}

/* Block */
.pi-panel-subline {
  float: right;
}

.pi-panel-tab  .panel-heading {
  padding: 0;
  height: 40px;
}

.pi-panel-tab-indicators {
  margin: 0 0 -1px 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.pi-panel-tab-indicators li {
  display: inline-block;
}

.pi-panel-tab-indicators a {
  padding: 0 15px;
  cursor: pointer;
  display: block;
  color: #333;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
  border-left: none;
}

.pi-panel-tab-indicators .active a {
  font-weight: bold;
  border-color: #ddd;
  background: #fff;
}

.panel-body >:last-child {
  margin-bottom: 0;
}
.panel-body ul,
.panel-body ol {
    margin-left: -20px;
}

/* Footer */
.pi-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 20px 0;
  border-top: 1px solid #ddd;
}

.pi-footer-links {
    padding-top: 10px;
    padding-left: 0;
    color: #333;
}
.pi-footer-links li {
    display: inline;
    padding: 0 2px;
}

#pi-logger-output {
  position: relative;
  top: -60px;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
  padding: 0 5px;
}

