/* Base */
body {
  background: #f5f5f5;
}

/* Bootstrap customization */
/* page header: inherited from bootstrap */
.page-header {
  margin: 0 0 15px 0;
}

.page-header h2 {
  margin: 0;
  font-size: 30px;
}

.page-header .nav {
  margin-bottom: 0;
}

.page-header .search-query {
  border-radius: 5px;
}

fieldset dl {
  margin-top: 0;
}

form .icon-question-sign {
  color: #0089D1;
  float: left;
  cursor: pointer;
  margin: 8px 0 0 3px;
}

.dl-horizontal dt {
  width: 120px;
}

.dl-horizontal dd {
  margin-left: 140px;
}

.input-large {
    width: 450px;
}
.textarea-small {
    width: 200px;
    height: auto;
}
.textarea-large {
    width: 450px;
    height: 300px;
}
.textarea-long {
    width: 450px;
    height: 600px;
}
.textarea-wide {
    width: 750px;
    height: 300px;
}
.textarea-full {
    width: 95%;
    height: 500px;
}

/* Common */
.pi-divider {
  font-family: serif,sans-serif;
  margin: 0 6px;
  color: #ccc;
}

.pi-legend {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  padding: 9px 10px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
  margin-bottom: 20px;
  border: 1px solid #d7d7d7;
}

.pi-widget-header {
  padding: 5px 10px;
  background: #F8F8F8;
  border-bottom: 1px solid #d7d7d7;
}

.pi-widget-header * {
  margin-bottom: 0;
}

.pi-widget-body {
  padding: 18px 20px;
}