<{$ruleFormList}>

<h3><{_ text='Description'}></h3>
<ul>
    <li><strong><{_ text='Roles: '}></strong><{_ text='Following roles are not listed'}>
        <ul>
            <li><strong><{_ text='admin: '}></strong><{_ text='has full access to all resoruces'}></li>
            <li><strong><{_ text='banned/inactive: '}></strong><{_ text='has no access to any resource'}></li>
        </ul>
    </li>
    <li><strong><{_ text='Setting: '}></strong><{_ text='The permission value to specify'}>
        <ul>
            <li><strong><{_ text='Y: '}></strong><{_ text='Permission granted'}></li>
            <li><strong><{_ text='N: '}></strong><{_ text='Permission denied'}></li>
            <li><strong><{_ text='I: '}></strong><{_ text='Permission not specified, inherited from up level'}></li>
        </ul>
    </li>
    <li><strong><{_ text='Access: '}></strong><{_ text='Permission calcuated from setting'}>
        <ul>
            <li><strong><{_ text='Y: '}></strong><{_ text='Access permited'}></li>
            <li><strong><{_ text='N: '}></strong><{_ text='Access denied'}></li>
        </ul>
    </li>
</ul>