/* Article detail */
.article-header {
    margin: 10px 15px 20px 15px;
    border: 0px;
    padding: 0px;
}
.article-header .headline {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, microsoft yahei;
    text-align: left;
    color: #333333;
}
.article-header .byline {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}
.article-content {
    margin: 0px 15px 15px 15px;
}
.article-subline-desc {
    float: left;
    font-size: 12px;
    clear: both;
}
.article-share {
    margin-top: 5px;
    line-height: 18px;
}
.article-body {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    word-break: break-word;
}
.article-body h1 {
    font-size: 18px;
    line-height: 28px;
}
.article-body h2,
.article-body h3,
.article-body h4 {
    font-size: 16px;
    line-height: 22px;
}
.article-body ol,
.article-body ul,
.article-body div {
    margin-bottom: 3px;
}
.article-body p {
    margin-bottom: 30px;
}
.article-body ul li {
    list-style-type: disc;
    list-style-position: inside;
}
.article-body ol li {
    list-style-type: decimal;
    list-style-position: inside;
}
.article-body a {
    color: #085A99;
    text-decoration: underline;
}
.article-body img {
     max-width: 500px;
}
.article-statistics {
    border: 1px #dddddd solid;
    width: 100%;
    height: 50px;
}
.article-statistics > div {
    padding: 15px 0 15px 0;
    text-align: center;
}
.article-statistics .article-statistics-comment {
    border-right: 1px solid #dddddd;
}
.article-statistics-comment {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-image: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.article-statistics-comment span {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, microsoft yahei;
    color: #333333;
}
.article-statistics-comment a {
    font-weight: bold;
}
.article-statistics-up {
    width: 40%;
}
.article-statistics-down {
    width: 50%;
    border-left: 1px #dddddd solid;
}
.article-statistics a .icon-thumbs-up,
.article-statistics a .icon-thumbs-down {
    color: #000;
}
.article-statistics .pull-right {
    border-left: 1px solid #dddddd;
}
.article-statistics > div .article-share {
    padding-left: 20px; 
}
.article-share {
    margin-top: 3px;
}
.article-section-title {
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 15px 0;
    color: #333333;
    border-bottom: 1px #999999 inset;
    border-top: 1px #999999 solid;
    padding: 10px 0 10px 0;
}

.thumb {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #d6d6d6;
}
.thumb p {
    line-height: 20px;
    font-size: 14px;
}
.thumb .title {
    font-size: 18px;
}
.summary {
    text-align: justify;
    background: #fff;
    margin: 15px 0 0;
    padding: 10px 5px;
    line-height: 23px;
    font-size: 14px;
    text-indent: 2em;
    border: 1px solid #dcdddd;
}
.author-name {
    font-size: 16px;
}
.img-text-wrapper .author-desc,
.author-desc {
    font: normal 14px/20px "KaiTi","KaiTi_GB2312","BiauKai";
    color: #555;
}
.topic-list-content,
.article-list-content {
    margin: 10px 15px 20px 10px;
}
.topic-list-title,
.article-list-title {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}
.article-list-desc {
    font-size: 12px;
}
.dashed {
    height: 20px;
    list-style: none;
}
