/* List page */
.tab-content >.active.table {
    display: table;
}
.nav-list > .active > a {
    cursor: text;
}
.row-actions {
    visibility: hidden;
}
tr:hover .row-actions {
    visibility: visible;
}
td {
    word-break: break-all;
}
#pi-article .nav-pills > .active > a {
    color: #333;
    font-weight: bold;
    background: none;
    cursor: text;
}
#pi-js-media  .table-striped tbody tr:nth-child(2n+1) th {
    background: #eee;
}
#pi-js-media .table-striped {
    border: 1px solid #ccc;
}
#pi-js-media .form-inline {
    margin-bottom: 15px;
}
#pi-js-media .form-search {
    margin: 0 20px 0 0;
}

.pi-media-batch-operation {
    margin-bottom: 10px;
}
.pi-media-none {
    height: 140px;
    line-height: 140px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #999999;
}
.pi-media-header {
    font-weight: bold;
    margin: 10px 0;
    font-size: 16px;
}

/* Media list */
.media-list-image {
    border: 1px solid #dddddd;
}
.media-list-image .normal-header {
    background-color: #eeeeee;
    height: 60px;
    line-height: 40px;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.media-list-image .normal-list {
    padding: 20px;
    display: inline-block;
}
.list-one-line {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.list-item {
    height: 180px;
    line-height: 180px;
    position: relative;
    vertical-align: bottom;
    padding: 0 5px 5px 5px;
    border: solid 1px #fff;
    cursor: pointer;
    text-align: center;
}
.list-item img {
}
.list-item input {
    position: absolute;
    top: -5px;
    left: -1px;
}
.list-item .item-delete {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    text-align: center;
    line-height: 15px;
    vertical-align: 15px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}
.list-operation {
    position: absolute;
    bottom: 0;
    height: 40px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    max-width: 100%;
    left: 0;
    right: 0;
}
.list-item button {
    position: absolute;
    left: 3px;
    bottom: 5px;
}
.list-item .item-detail {
    position: absolute;
    right: 5px;
    bottom: 10px;
    height: 20px;
    line-height: 20px;
    color: #fff;
}
.gray-image {
    filter: Alpha(opacity = 10);
    -moz-opacity: .1;
    opacity: 0.2;
}
