

### OS ###
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
._*


### Tools ###
/node_modules/
_build/

### IDE ###
.idea/

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath

nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
build.properties


### VCS ###
.git/
.svn/
.CVS/
.hg*

### Pi Engine ###
www/.htaccess
www/boot.php

www/asset/*
!www/asset/detector.gif
!www/asset/index.html

www/module/*
!www/module/index.html

www/public/*
!www/public/index.html

www/static/vendor/*
!www/static/vendor/angular
!www/static/vendor/backbone
!www/static/vendor/bootstrap
!www/static/vendor/jquery
!www/static/vendor/index.html

www/upload/*
!www/upload/detector.gif
!www/upload/index.html

var/cache/*
!var/cache/index.html

var/config/engine.php
var/config/host.php
var/config/module.meta.php
var/config/service.database.php

var/config/custom/*
!var/config/custom/index.html

var/log/*
!var/log/index.html

usr/custom/*
!usr/custom/demo/
!usr/custom/widget/locale/
!usr/custom/widget/meta/pi-content.php
!usr/custom/widget/src/Render/PiContent.php
!usr/custom/widget/template/block/pi-content.phtml
!usr/custom/widget/template/block/carousel/index.phtml

usr/module/*
!usr/module/article/
!usr/module/comment/
!usr/module/demo/
!usr/module/message/
!usr/module/page/
!usr/module/saml/
!usr/module/service/
!usr/module/search/
!usr/module/system/
!usr/module/tag/
!usr/module/test/
!usr/module/uclient/
!usr/module/user/
!usr/module/widget/
!usr/module/README.md

usr/theme/*
!usr/theme/default/
!usr/theme/pi/
!usr/theme/README.md

lib/vendor/*
!lib/vendor/Imagine/
!lib/vendor/RandomLib/
!lib/vendor/SecurityLib/
!lib/vendor/simplesamlphp/
!lib/vendor/index.html


