<style>
.dashboard-link {
  border:  1px solid transparent;
  padding: 1px 5px;
  margin-bottom: 10px;
  background: #fff;
}
.close {
  opacity: .4;
  filter: alpha(opacity=40);
}
.dashboard-link-add {
  display: none;
  cursor: pointer;
  text-align: center;
}
.dashboard-links-editing .dashboard-link {
  border: 1px dashed #ccc;
}
.dashboard-links-editing .dashboard-link-add {
  display: block;
}
.dashboard-links-editing .close {
  visibility: visible;
}
</style>
<div class="page-header">
    <h2>{{'DASHBOARD' | translate}}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="well">
      <div class="media">
        <span class="pull-left">
          <i class="fa fa-bullhorn"></i>
        </span>
        <div class="media-body">
          <div ng-show="!noticeEditing">
            <p>
              {{message.content}}
              <em class="text-muted" style="margin-left: 15px;">{{message.time}}</em>
            <div ng-show="messagePerm">
              <a ng-click="noticeEditing = 1">
                <i class="fa fa-pencil"></i>
                {{'EDIT' | translate}}
              </a>
            </div>
          </div>
          <div ng-show="noticeEditing">
            <p>
              <textarea ng-model="messageContentCopy" class="form-control" rows="3" notice-focus="noticeEditing"></textarea>
            <p class="text-muted">
              {{'ANNOUNCEMENT' | translate}}
            <div>
              <button class="btn btn-default" ng-click="saveNoticeAction()">
                {{'SAVE' | translate}}
              </button>
              <button class="btn btn-link" ng-click="noticeEditing = 0">
                {{'CANCEL' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="clearfix panel-heading">
        <div class="pull-right">
          <button class="btn btn-default btn-sm" ng-click="linksEditing = 1" ng-show="!linksEditing">
            {{'EDIT' | translate}}
          </button>
          <button class="btn btn-default btn-sm" ng-click="saveLinksAction()" ng-show="linksEditing">
            {{'SAVE' | translate}}
          </button>
        </div>
        <h3 class="panel-title" style="margin-top: 6px">
          {{'QUICKLINKS' | translate}}
        </h3>
      </div>
      <div class="panel-body" style="padding-bottom: 5px;">
        <form class="well form-horizontal" style="padding-bottom: 0;" name="linkForm" ng-show="linkAddStatus">
          <div class="form-group">
            <label class="col-md-2 control-label">{{'TITLE' | translate}}</label>
            <div class="col-md-5">
              <input type="text" class="form-control" ng-model="linkEntity.title" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">{{'URL' | translate}}</label>
            <div class="col-md-5">
              <input type="url" class="form-control" ng-model="linkEntity.url" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" ng-disabled="linkForm.$invalid" ng-click="addLink()">
                {{'SAVE' | translate}}
              </button>
              <button type="reset" class="btn btn-link" ng-click="linkAddStatus = 0">
                {{'CANCEL' | translate}}
              </button>
            </div>
          </div>
        </form>
        <div class="row" ng-class="{'dashboard-links-editing' : linksEditing}" ui-sortable ng-model="links">
          <div ng-repeat="item in links" class="col-md-3">
            <div class="dashboard-link">
              <button type="button" class="invisible close" ng-click="removeLink($index)">&times;</button>
              <a href="{{item.url}}" class="pi-ellipsis">
                {{item.title}}
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dashboard-link dashboard-link-add" ng-click="linkAddStatus = 1">
              <i class="fa fa-plus fa-lg"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        {{'SUMMARY' | translate}}
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{'POWEREDBY' | translate}}
      </div>
      <div class="panel-body">
        <p>
          {{'POWEREDP1' | translate}}
        <p>
          {{'POWEREDP2' | translate}}
        <div>
          <a href="http://www.pialog.org" title="Pi Engine" target="_blank">Find Pi</a> &raquo;
          <a href="http://code.pialog.org" title="Pi Code" target="_blank">code</a> &bull;
          <a href="http://doc.pialog.org" title="Pi Doc" target="_blank">doc</a> &bull;
          <a href="http://bug.pialog.org" title="Pi Bug" target="_blank">talk</a> &bull;
          <a href="http://ask.pialog.org" title="Ask Pi" target="_blank">ask</a> &bull;
          <a href="http://api.pialog.org" title="Pi API" target="_blank">API</a>
        </div>
      </div>
    </div>
  </div>
</div>