<legend>{{'TITLE12' | translate}}</legend>
<div class="alert" ng-if="alert" 
     ng-class="{'alert-success': alert.status,'alert-error': !alert.status}">
  <button type="button" class="close" ng-click="clearAlert()">×</button>
  {{alert.message}}
</div>
<p style="margin-bottom: 20px;">
  <a class="btn btn-primary" href="#!/new">
    <i class="icon-plus"></i>
    {{'Add_USER' | translate}}
  </a>
<form class="form-inline" ng-submit="filterAction()">
  <select ng-model="filter.active">
    <option value="">{{'ACTIVE_STATUS' | translate}}</option>
    <option value="active">{{'ACTIVE' | translate}}</option>
    <option value="inactive">{{'INACTIVE' | translate}}</option>
  </select>
  <select ng-model="filter.enable">
    <option value="">{{'ENABLE_STATUS' | translate}}</option>
    <option value="enable">{{'ENABLE' | translate}}</option>
    <option value="disable">{{'DISABLE' | translate}}</option>
  </select>
  <select ng-options="r.title group by r.type for r in roles" ng-model="filter.role">
    <option value="">{{'SELECT_ROLES' | translate}}</option>
  </select>
  <button class="btn">{{'APPLY' | translate}}</button>
</form>
<table class="table table-striped">
    <thead>
      <tr>
        <th width="2%">
        <th width="15%">Username
        <th width="15%">Display name
        <th width="10%" class="text-center">Enabled
        <th width="10%" class="text-center">Activated
        <th width="10%">{{'ROLE' | translate}}
        <th width="15%" class="text-center">Register time
        <th>{{'ACTION' | translate}}
    <tbody>
      <tr ng-repeat="user in users">
        <td>
          <i class="icon-circle text-success" ng-if="user.active"
             tooltip="{{'ACTIVE' | translate}}">
          </i>
          <i class="icon-circle muted" ng-if="!user.active"
             tooltip="{{'INACTIVE' | translate}}">
          </i>
        <td>{{user.identity}}
        <td>{{user.name}}
        <td class="text-center">
          <span ng-if="user.time_disabled">
            {{'DISABLED' | translate}}
          </span>
          <span ng-if="!user.time_disabled">
            {{'ENABLED' | translate}}
          </span>
        <td class="text-center">
          <span ng-if="user.time_activated">
            {{'ACTIVATED' | translate}}
          </span>
          <span ng-if="!user.time_activated">
            {{'INACTIVATED' | translate}}
          </span>
        <td>
          <span ng-if="user.front_roles" tooltip="{{user.front_roles}}" 
                style="padding-right: 5px;">
            <i class="icon-user icon-large"></i>
          </span>
          <span ng-if="user.admin_roles" tooltip="{{user.admin_roles}}"
                style="padding-left: 5px;">
            <i class="icon-laptop icon-large"></i>
          </span>
        <td class="text-center">
          {{user.time_created | date: 'yyyy-MM-dd HH:mm'}}
        <td>
          <a href="#!/edit/{{user.id}}" class="btn btn-link">
            {{'EDIT' | translate}}
          </a>
          <button class="btn btn-link" ng-click="deleteAction($index)">
            {{'DELETE' | translate}}
          </button>
</table>
<pagination total-items="paginator.count" page="paginator.page" max-size="10" 
            class="pagination" boundary-links="true" items-per-page="paginator.limit">
</pagination>