.search-tabs {
  margin: 0 auto 10px;
}

.search-tabs a {
	padding: 0 10px 0 8px;
	color: #333;
}

.search-tabs .active {
  font-weight: bold;
  color: #428BCA;
}

.search-service {
  margin: 10px 0;
}

.search-service a {
  padding: 0 20px 0 8px;
}

.search-result-item {
	margin-bottom: 20px;
}

.search-logo {
	font-size: 24px;
	font-weight: bold;
	margin-top: 30px;
	text-align: right;
  display: block;
}

.google-result {
  margin: 30px 0;
}
