.rediantuijian {
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
    border-top: none;
    background: #f5f5f5;
}
.rediantuijian .block-header {
    border-bottom: none;
    background: #f5f5f5;
}
.rediantuijian .block-header-title {
    font:normal 16px/34px sans-serif;
    font-weight: bold;
    margin-left: 14px;
}
.jcarousel-skin {
    margin-bottom: 6px;
}
.jcarousel-clip {
    width: 520px;
    overflow: hidden;
    position: absolute;
    left: 26px;
}
.jcarousel-item {
    margin-left: 20px;
    width: 152px;
    height: 162px;
    float: left;
    _display: inline;
}
.jcarousel-item div {
    margin-top: 8px;
    width: 150px;
    height: 34px;
    line-height: 17px;
    font-size: 13px;
    overflow: hidden;    
    word-wrap: break-word;
}
.jcarousel-prev-horizontal, .jcarousel-next-horizontal {
    position: absolute;
    width: 20px;
    height: 40px;
    cursor: pointer;
    background: transparent url(prev-next-horizontal.png) no-repeat 0 0;
}

.jcarousel-prev-horizontal {
    left: 6px;
    top: 44px;
    background-position: 0 0;
}
.jcarousel-next-horizontal {
    right: 10px;
    _right: 20px;
    top: 42px;
    background-position: 0 -39px;
}