<?php
// Options: interval, pause, height
$options = (array) $block['options'];

$length = count($block['items']);
$carouselId = uniqid('carousel');
$width = $options['width'];
$height = $options['height'];
?>
<style>
.pi-carousel-indicators {
    text-align: right;
    margin: 0;
    left: auto;
    top: auto;
    right: 15px;
    bottom: 5px;
}
.pi-carousel-indicators .active {
    background: #428bca;
}
.pi-carousel-indicators li {
    background: #ccc;
    border-radius: 0;
    margin: 0 3px 0 0 !important;
    width: 14px !important;
    height: 14px !important;
}
</style>
<div id="<?php echo $carouselId; ?>" class="carousel slide">
    <ol class="carousel-indicators pi-carousel-indicators">
    <?php
    for ($i = 0; $i < $length; $i++) {
        echo sprintf(
            '<li data-target="#%s" data-slide-to="%s" class="%s">',
            $carouselId,
            $i,
            $i == 0 ? 'active' : ''
        );
    }
    ?>
    </ol>
    <div class="carousel-inner">
    <?php
    foreach ($block['items'] as $key => $item) {
        $image = sprintf('<img class="img-responsive" src="%s" style="%s%s">',
                                  $item['image'],
                                            $width ? 'width: '  . $width  . 'px;' : '',
                                            $height ? 'height: '  . $height . 'px;' : '');
        if ($item['link']) {
            $title = sprintf('<a href="%s" title="%s">%s</a>', $item['link'], $item['caption'], $item['caption']);
            $image = sprintf('<a href="%s">%s</a>',
                             $item['link'], $image);
        } else {
            $title = $item['caption'];
        }
        echo sprintf('
            <div class="item%s">
                <div class="row">
                    <div class="col-sm-7">%s</div>
                    <div class="col-sm-5">
                        <h4 class="pi-ellipsis pi-ellipsis-2">%s</h4>
                        <p class="pi-ellipsis pi-ellipsis-4">%s
                    </div>
                </div>
            </div>',
            $key == 0 ? ' active' : '',
            $image,
            $title,
            $item['desc']
        );
    }
    ?>
    </div>
</div>
<?php
$script = sprintf('$("#%s").carousel(%s);',
        $carouselId,
        json_encode($block['options'])
    );
$this->footScript()->appendScript($script);
?>
