<div class="row">
    <div class="span6">
        <div class="pi-widget">
            <div class="pi-widget-header">
                {{'QUICKLINK' | translate}}
            </div>
            <div class="user-widget-body">
                <p>
                    {{'ACTIVITIES_DESC' | translate}}
                <div id="js-plugin-sortable">
                    <div ng-repeat="item in displayList" ng-model="displayList">
                        <div class="user-widget">
                            <span class="pull-right">
                                <span class="gutter muted">{{item.module}}</span>
                                <button class="close" ng-click="removeDisplay($index)">×</button>
                            </span>
                            {{item.title}} 
                            <span class="muted gutter">{{item.link}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <legend>{{'QUICKLINK_REPOSITORY' | translate}}</legend>
        <div class="user-quick-select" ng-repeat="item in selectList">
            <div class="user-widget">
                <span class="pull-right">
                    <span class="gutter muted">{{item.module}}</span>
                    <i class="icon-plus pi-icon-cursor" ng-click="addDisplay($index)"></i>
                </span>
                {{item.title}}
                <span class="muted gutter">{{item.link}}</span>
            </div>
        </div>
    </div>
</div>