/*common*/
.link, 
.ulink {
    color: #21759B;
    cursor: pointer;
    text-decoration: none;
}
.ulink {
    text-decoration: underline;
}
.row-actions {
    visibility: hidden;
    font-size: 12px;
}
.row-actions a {
    margin-right: 6px;
}
tr:hover .row-actions {
    visibility: visible;
}
.link:hover, 
.ulink:hover {
    color: #D54E21;
}
.msg-info {
    background: url(../image/alert.png) no-repeat;
}
.check-load {
    background: url(../image/load-small.gif) left center no-repeat;
    padding-left: 24px;
}
.box-disable {
    color: #999;
}
.box-disable img {
    filter: url(../image/filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(90%); /* Webkit */
    color: #999;
}
.graybg {
    filter: url(../image/filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(90%); /* Webkit */
}
.box-hover:after {
    display: block;
    clear: both;
    height: 0;
    content: "";
}
.no-select {
    -moz-user-select: none; 
    -khtml-user-select: none;
    -webkit-user-select: none; 
    user-select: none;
}
.list-search {
    margin-bottom: 10px;
    text-align: center;
}
.nowrap {
    white-space: nowrap;
    overflow: hidden;
}
.bg-loading {
    background: url('../image/alertload.gif') no-repeat center center #fff;
}
.inline-block,
.col2 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    margin: 0 10px 10px 0;
}
.box-hover {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
    margin-left: 10px;
    *zoom: 1;
}
.box-hover > span {
    font-size: 14px;
    line-height: 28px;
}
.box-hover:hover, .box-hover.handle {
    background: #e8eef5;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
#popup-form .control-label {
    width: 110px;
}
#popup-form .controls {
    margin-left: 140px;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btns-indent {
    margin-left: -12px;
}
/*Dashboard*/
.quick-link .widget-header,
.module-summary .widget-header {
    line-height: 28px;
}
.notice {
    background: #F8F8F8;
}
.notice-show-text {
    margin-bottom: 10px;
}
.notice-show-time {
    margin-left: 20px;
}
.notice-show-action {
    margin-top: 10px;
}
.notice-edit {
    display: none;
}
.notice-editing .notice-edit {
    display: block;
}
.notice-editing .notice-show {
    display: none;
}
.quick-link .js-all-save {
    display: none;
}
.quick-link .widget-body {
    padding: 18px 9px 8px;    
}
.quick-link i {
    visibility: hidden;
}
.quick-link-form {
    display: none;
}
.quick-link-item {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    border: 1px solid transparent;
    margin:0 10px 10px 0;
    min-height: auto;
    height: 24px;
    line-height: 24px;
    background: #fff;
}
.quick-link-add {
    display: none;
    vertical-align: top;
    text-align: center;
    width: 130px;
    border: 1px dashed #ccc;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    margin-bottom: 10px;
}
.quick-link-edit .js-all-save {
    display: inline-block;
}
.quick-link-edit .quick-link-item a:hover {
    text-decoration: none;
}
.quick-link-edit .js-all-edit {
    display: none;
}
.quick-link-edit i,
.quick-link .icon-plus {
    visibility: visible;
}
.quick-link-edit .quick-link-item {
    border: 1px dashed #ccc;
    cursor: move;
}
.quick-link-edit .quick-link-add {
    display: inline-block;
}
.quick-link-item i {
    cursor: pointer;
}
.icon-quick-link-add {
    font-size: 16px;
    color: #808080;
}
.module-summary .accordion-toggle {
    padding: 8px 9px;
}
.module-summary .widget-body {
    padding: 10px;
}
/*block list*/
.block-list-page .dropdown-menu {
    width: 240px;
    padding: 10px 0 10px 10px;
    max-height: 400px;
    overflow: auto;
}
/*module list*/
.module-item-title-edit .module-title-input {
    display: block;
}
.module-item-title-edit >p,
.module-item-title-edit >a {
    display: none;
}
.module-item:hover .invisible {
    visibility: visible;
}
.module-p {
    margin: 0 0 5px;
}
.module-item .well {
    margin-bottom: 0;
}
.module-ol li {
    list-style: decimal;
}
/*nav-data*/
.menu-item-depth0 {
    margin-left: 0;
}
.menu-item-depth1 {
    margin-left: 30px;
}
.menu-item-depth2 {
    margin-left: 60px;
}
.menu-item-depth3 {
    margin-left: 90px;
}
.menu-item-depth4 {
    margin-left: 120px;
}
.menu-item-depth5 {
    margin-left: 150px;
}
.menu-item-depth6 {
    margin-left: 180px;
}
.menu-item-depth7 {
    margin-left: 210px;
}
.menu-item-depth8 {
    margin-left: 240px;
}
.menu-item-depth9 {
    margin-left: 270px;
}
b.caret-big {
    border-width: 6px;
    border-top: 8px solid #B7B7B7;
    margin-top: 5px;
    cursor: pointer;
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
}
b.caret-big:hover {
    border-top-color: #545454;
}
.active .caret-big, .editing .caret-big {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    color: #B7B7B7;
}
.editing .menu-item-form {
    display: block;
}
.tree-item-header, .block-hd {
    background-color: #F1F1F1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9,endColorstr=#ECECEC);
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
    background-image: -webkit-linear-gradient(top , #F9F9F9, #ECECEC);
    background-image: -o-linear-gradient(top , #F9F9F9, #ECECEC);
    padding: 5px 0 5px 10px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    border: 1px solid #DFDFDF;
}
.tree-item-body, .block-bd {
    width: 400px;
    padding: 10px 0 10px 10px;
    border: 1px solid #DFDFDF;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(bottom , #F5F5F5, #F9F9F9);
    box-shadow: 0 1px 0 #FFFFFF inset;
}
.tree-item-header {
    margin-top: 10px;
    width: 460px;
    cursor: move;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 3px;
}
.tree-item-header-label {
    margin-left: 10px;
}
.tree-item-body {
    width: 460px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    padding-left: 0;
}
.tree-item-editing .tree-item-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.tree-item-editing .tree-item-body {
    display: block;
}
.menu-edit-form .control-label {
    width: 90px;
}
.menu-edit-form .controls {
    margin-left: 110px;
}
.menu-edit-form .control-group {
    margin-bottom: 10px;
}
.tree-item .legend {
    margin-bottom: 10px;
    padding-top: 0;
}
.tree-item-save {
    margin-left: 20px;
    cursor: pointer;
}
.tree-sortable-placeholder {
    background: #F5F5F5;
    border: 1px dashed #BCBCBC;
    margin-top: 10px;
}
.widget-description {
    padding: 0 0 0 10px;
    line-height: 16px;
    color: #555;
}
.ui-sortable .block-hd {
    cursor: move;
}
.popover.animate {
    position: absolute;
    display: block;
    left: -9999px;
    width: 310px;
    min-height: 100px;
    -moz-transition: top .6s ease;
    -webkit-transition: top .6s ease;
    -o-transition: top .6s ease;
    transition: top .6s ease;
}
/*theme*/
.theme-item {
    display: inline-block;
    margin: 0 20px 20px 0;
    vertical-align: top;
    width: 300px;
}
.theme-screenshot {
    display: block;
}
.theme-item h5 {
    margin-top: 1px;
}
.theme-screenshot img {
    height: 220px;
}
.theme-actions {
    margin-left: -12px;
}
.theme-icon-wrap {
    height: 24px;
    line-height: 24px;
}
.theme-icon-wrap i {
    margin-right: 5px;
}
.theme-btn {
    padding: 4px 5px;
}
.theme-icon-wrap span {
    margin-right: 20px;
}
.theme-type-icon {
    font-size: 14px;
}
/*role*/
.icon-indirectly {
    color: #D14;
}
.role-ident {
    margin-bottom: 10px;
}
.role-ident span {
    margin:0  10px 0 5px;
}
.page-role .icon-check-empty,
.page-role .icon-check {
    cursor: pointer;
    padding: 1px;
}
.page-role .icon-indirectly {
    cursor: default;
}
.page-role .table {
    width: auto;
}
.role-table-title {
    width: 100px;
}
.page-role .table tr {
    height: 40px;
}
.role-table-title {
    height: 24px;
    line-height: 24px;
}
.role-rename input[type="text"] {
    padding: 2px 3px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    display: none;
}
.role-rename-show input[type="text"] {
    display: inline-block;
}
.role-rename-show .role-table-title {
    display: none;
}
/*perm*/
.perm-blocks td:first-child {
    padding-left: 45px;
}
.perm-blocks {
    
}
.perm-blocks .icon-minus {
    display: none;
}
.perm-blocks-show .icon-minus {
    display: inline;
}
.perm-blocks-show .icon-plus {
    display: none;
}
/*asset, cache, audit list page*/
.table .td-indent {
    padding-left: 2em;
}

