<form class="form-inline">
  {{'SORT_BY' | translate}}
  <select ng-change="sortAction()" ng-model="sort">
    <option value="time_created">{{'REGISTER_TIME' | translate}}
    <option value="time_last_login">{{'LAST_LOGIN_TIME' | translate}}
    <option value="time_activated">{{'ACTIVATE_TIME' | translate}}
  </select>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{'ID' | translate}}
      <th>{{'USERNAME' | translate}}
      <th>{{'REGISTER_TIME' | translate}}
      <th>{{'REGISTER_IP' | translate}}
      <th>{{'ACTIVATE_TIME' | translate}}
      <th>{{'LAST_LOGIN_TIME' | translate}}
      <th>{{'LAST_LOGIN_IP' | translate}}
      <th>{{'LOGIN_TIMES' | translate}}
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.id}}
      <td>
          {{user.identity}}
          <div class="pi-row-action">
            <a href="">{{'EDIT' | translate}}</a>
            <a href="#!/logs/{{user.id}}">{{'VIEW_LOG' | translate}}</a>
          </div>
      <td>{{user.time_created}}
      <td>{{user.ip_register}}
      <td>{{user.time_activated}}
      <td>{{user.time_last_login}}
      <td>{{user.ip_login}}
      <td>{{user.login_times}}
</table>
<pagination ng-if="paginator.count > paginator.limit" 
            total-items="paginator.count" page="paginator.page" max-size="10"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            boundary-links="true" items-per-page="paginator.limit">
</pagination>