<div class="page-header">
  <h3>{{'TITLE' | translate}}</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{{'ITEM_NAME' | translate}}
      <th>{{'FROM' | translate}}
      <th>{{'DISPLAY' | translate}}
  <tbody>
    <tr ng-repeat="item in timeline">
      <td>{{item.title}}
      <td>{{item.module}}
      <td>
        <div class="btn-group">
          <button class="btn btn-default" ng-class="{'btn-danger active': !item.active}"
                  ng-click="disableAction(item)">
            {{'NO' | translate}}
          </button>
          <button class="btn btn-default" ng-class="{'btn-success active': item.active}"
                  ng-click="activeAction(item)">
            {{'YES' | translate}}
          </button>
        </div>
</table>
<pagination ng-if="paginator.count > paginator.limit" 
            total-items="paginator.count" page="paginator.page" max-size="10"
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
            boundary-links="true" items-per-page="paginator.limit">
</pagination>