<style>
.user-profile-source .pi-widget-item {
  cursor: default;
}
.user-profile-page .pi-widget-body {
  padding: 10px;
}
.user-profile-groups .pi-widget-body {
  display: none;
}
.user-profile-groups .pi-widget-header {
  border-bottom: none;
}
.user-profile-group-editing .pi-widget-body {
  display: block;
}
.user-profile-group-editing .pi-widget-header {
  border-bottom: 1px solid #d7d7d7;
}
.user-profile-group-action {
  cursor: pointer;
  margin-top: 6px;
  user-select: none;
  -webkit-user-select: none;
}
</style>
<div class="row user-profile-page">
  <div class="span7">
    <div class="pi-widget">
      <div class="clearfix pi-widget-header">
        <div class="pull-right">
          <button class="btn btn-link" ng-click="cancelAction()">{{'CANCEL' | translate}}</button>
          <button class="btn btn-primary" ng-click="saveAction()">{{'SAVE' | translate}}</button>
        </div>
        <h5 style="margin: 4px 0 0 0;">{{'FIELD_DISPLAY' | translate}}</h5>
      </div>
      <div class="pi-widget-body" style="padding-top: 20px;">
        <form class="form-inline" ng-submit="AddCustomDisplay()" novalidate
              name="displayForm">
          <input type="text" placeholder="{{'TITLE' | translate}}" ng-model="entity" required>
          <input type="submit" value="{{'ADD_GROUP' | translate}}" class="btn btn-primary" 
                 ng-disabled="displayForm.$invalid">
        </form>
        <div pi-alert message="saveAlert.message" type="saveAlert.type"></div>
        <div class="user-profile-groups">
          <div ng-repeat="display in displays" class="pi-widget" 
               ng-class="{'user-profile-group-editing': display.$isEditing}">
            <div class="clearfix pi-widget-header">
              <div class="pull-right user-profile-group-action">
                <i class="icon-large pi-icon-cursor" style="padding-right: 4px;"
                   ng-class="{'icon-angle-up': display.$isEditing, 'icon-angle-down': !display.$isEditing}"
                   ng-click="toggleGroup(display)"></i>
                <i class="icon-remove pi-icon-cursor"
                   ng-click="removeDisplay($index)"></i>
              </div>
              <div pi-hover-input text="display.title">
              </div>
            </div>
            <div class="pi-widget-body js-group-widgets" data-display="{{display.title}}">
              <div ng-repeat="displayField in display.fields" class="pi-widget-item">
                <span class="pull-right" ng-if="!display.name">
                  <i class="icon-remove pi-icon-cursor"
                     ng-click="removeGroupField(display.fields, $index)"></i>
                </span>
                {{displayField.title}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span5 user-profile-source">
    <legend>{{'BASIC_FIELD' | translate}}</legend>
    <div ng-repeat="field in profile" class="pi-widget-item">
      <div class="pull-right">
        <div class="dropdown pi-user-select-disabled">
          <i dropdown-toggle class="icon-plus icon-large pi-icon-cursor" tooltip="{{'ADD_FIELD_TIP' | translate}}"
             tooltip-append-to-body="1"></i>
          <ul class="dropdown-menu" style="left: 15px;">
            <li ng-repeat="item in customGroup">
              <a href="javascript:void(0)" ng-click="AddGroupField(item, $parent.$index)">{{item}}</a>
          </ul>
        </div>
      </div>
      {{field.title}}
    </div>
    <legend>{{'COMPOUND' | translate}}</legend>
    <div ng-repeat="compound in compounds" class="pi-widget">
      <div class="pi-widget-header">
        <span class="pull-right" ng-click="addDisplayGroup($index)">
          <i class="icon-plus icon-large pi-icon-cursor" tooltip="{{'ADD_GROUP_TIP' | translate}}"
             tooltip-append-to-body="1"></i>
        </span>
        {{compound.title}}
      </div>
      <div class="pi-widget-body">
        <div class="pi-widget-item" ng-repeat="item in compound.fields">
          {{item.title}}
        </div>
      </div>
    </div>
  </div>
</div>